<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @portfolio.name %>
</p>

<p>
  <b>Balance:</b>
  <%= @portfolio.balance %>
</p>


<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>



  <div></div>
  <div></div>

  <table>
    <tr>
      <td>Stock Name</td>
      <td>Price Paid Per Share</td>
      <td>Number</td>
      <td>Stock Value (£)</td>
      <td>Current Price</td>
    </tr>    
      <% @portstocks.each do |portstock| %>

      <tr>
        <td><%= "(#{portstock.stock.symbol})#{portstock.stock.name}" %></td>
        <td>£<%= portstock.price_paid %></td>
        <td><%= portstock.quantity %></td>
        <td>£<%= portstock.quantity * portstock.price_paid %></td>
        <td>£<%= portstock.current_price %></td>
        <td><%= link_to 'Sell Stock', portstock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
  </table>  
  <p id="choose_symbol"><%= link_to 'Select Stock Symbol' %></p>

 <!--  p & l = (price_paind - current price)*quantity -->
