<h1>Listing stocks</h1>


<table>
  <tr>
    <td>Name</td>
    <td>Symbol</td>
    <td>Price</td>
    <td> </td>
    <td> </td>
  </tr>

<% @stocks.each do |stock| %>
  <tr>
    <td><%= stock.name %></td>
    <td><%= stock.symbol %></td>
    <td><%= stock.price %></td>
    <td><%= link_to 'Delete', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Buy Stock', new_portstock_path(symbol: stock.symbol, stock_id: stock.id) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stock', new_stock_path %>
<%= link_to 'Back to Portfolios', portfolios_path %>
